<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="ReCreateSchemaAtStartup" value="true"/>
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <httpModules>
            <add name="TransactionPerRequest" type="Infrastructure.Web.TransactionPerRequestModule"/>
        </httpModules>

        <pages>
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.Routing" />
                <add namespace="MvcContrib.UI.Html"/>
                <add namespace="MvcContrib.UI.Pager"/>
                <add namespace="MvcContrib.UI.Grid"/>
                <add namespace="Domain" />
                <add namespace="Domain.ViewModel" />
                <add namespace="Infrastructure" />
                <add namespace="Infrastructure.Web" />
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>

